* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: #333;
}
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  width: 100%;
  background-color: lightseagreen;
  border-radius: 20px;
  /* i want that cards come in three three pair*/
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;}
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .card{
      height: 600px;
    }
  }
  #card1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 30px;
   
  }
  #card1 img{
    height: 550px;
    width: 450px;
    object-fit: cover;
    padding: 30px 20px;
    margin-left: -50px;
    margin-top: -50px;
  }
  #card1 button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
